#singlenews{
	
	position:relative;
	left:3%;
	top:5%;
	width:90%;
	height:30%;
	border:3px;
	border-radius:15px;
	border-color:#0fa4a9;
	border-style:ridge;
	font-size:10;
	display:inline-block;
	margin-bottom:40px;
}

#singlenews:hover{
	background-color:rgba(150,160,160,0.1);
}


#newstittle img {
	position:relative;
	width:2%;
	height:80%;
	margin-left:10px;
	margin-top:5px;
	
}

#newstittle{
	left:5%;
	top:4%;
	width:100%;
	height:20%;
	margin-top:3px;
	font-family:Conthrax;
	font-size:2em;
}
#textnews{
	margin-left:1%;
	top:10%;
	margin-top:1%;
	width:100%;
	height:60%;
	font-family: Conthrax;
	font-size:1.5em;
	text-align:left;
	
}
#author{
	margin-right:10px;
	margin-bottom:10px;
	position:relative;
	text-align:right;
	font-size:1em;
	font-family: Conthrax;
}
